.App {
  text-align: center;
}

.error-message {
color:red
}
.bookings-table {
  table-layout:fixed;
  margin-left:-80%;
  margin-right:90%
}
table, td, th {
  border: 1px solid white;
  width: 60px;
  text-align: center
}

.booked {
  background-color: #90ee90;
}
.unbooked {
  background-color: #ffc0cb;
}

.form{
  display:inline-block;
}